@charset "UTF-8";

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-image: url(imagens/PlanodeFundo.jpg);
    color: azure;
}
header {
    background-color: #2b2d42;
    padding: 45px;
    margin-bottom: 55px;
    box-shadow: 8px 6px 10px 1px rgba(0, 0, 0, 0.87);
}
header > h1 {
    padding: 1px;
}
nav > a {
    text-decoration: none;
    padding: 10px;
    margin: 0px;
    color: black;
    background-color: azure;
    border-radius: 15px;
}
nav a:hover {
    text-decoration: underline;
    color: black;
}
    
#descricao > h2 {
    text-align: center;
    margin-bottom: 30px;
}
#descricao > p {
    text-indent: 15px;
    text-align: center;
    margin-bottom: 50px;
    padding: 20px;
    background-color: azure;
    color: black;
    border-radius: 15px;
    width: 600px;
    margin:0 auto;
}
#produtos > h2 {
    width:300px;
    margin: 0 auto;
    text-align: center;
    margin-top: 300px;
    margin-bottom: 50px;
    background-color: rgb(115, 133, 133);
    padding: 10px;
    border-radius: 15px;
}
#produtos > p {
    width:1150px;
    margin: 0 auto;
    text-indent: 15px;
    text-align: center;
    
    padding: 20px;
    background-color: azure;
    color: black;
    border-radius: 15px;
}
#produtos > ul > li {
    width: 300px;
    margin: 0 auto;
    text-indent: 15px;
    background-color: azure;
    color: black;
    margin-bottom: 15px;
    list-style: none;
    padding: 20px;
    border-radius: 15px;
}
article > ul {
    
    margin-top: 50px;
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 50px;
    list-style: none;
    background-color: rgb(115, 133, 133);
    margin-bottom: 50px;
    width: auto;
}
footer {
    
    background-color: #2b2d42;
    color: azure;
    margin: 0;
    padding: 1px;
    
}
footer > p {
    margin: 0;
    text-align: center;
    padding: 5px;
}
#sociais > ul {
    list-style:none;
    margin-bottom:20px
    
}
ul > li {
    margin-bottom: 10px;
}
li > a {
    text-decoration:none;
    color: azure;

}
